<html>
    <body>
        Bailleur : {{ }}
        Locataire : {{}}
        Quittance de loyer
        Loyer de {{}}
        Quittance de loyer n° {{}}
        Reçu de : {{}}
        La somme de : {{}} €
        En paiement du terme du {{}} au {{}}
        Loyer nu : {{}}
        Charges : {{}}
        Montal
    </body>
</html>