.top-right-button{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    font-size: 150%;
    padding-top: 2%;
}
.top-right-button:hover{
    text-decoration: none;
    color: #ffffff;
}
header{ 
    background-image: url("./css/images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50% !important;
    display: block;
    height: 1080;
}
#subtitle{
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    margin-left: 25%;
    font-size: 160%;
    padding-bottom: 25%;
}
#navigationBar{
    margin-right: -100%; 
}
#logo{
    margin-left: 10%;
    padding-top: 15%;
    height: 30%;
    width: 30%;
}