main{
    background-image: url("./css/images/back.jpg");
    background-image: url("./css/images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100% !important;
    background-attachment: fixed;
    height: 100%;
}
#form{
    background-color: #ffffff;
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}
.valider{
    margin: 0 auto;
    background-color: #2ecc71;
    color: #ffffff;
    border-style: none;
    border-radius: 20px;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    transition: width 0.75s;
    font-family: 'Nunito', sans-serif;
}
.valider:hover{
    width: 100%;
}
#form_title, #forgotten{
    text-align: center;
    margin:  0 auto;
    font-family: 'Nunito', sans-serif;
    color: #2ecc71;
}
#logo{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.flashed-error{
    text-align: center;
    color: #e74c3c;
    font-family: 'Nunito', sans-serif;

}