{% extends "skeleton.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='proprietaire.css') }}" rel="stylesheet">
    <title>Homeo - proprietaire</title>
{% endblock %}
{% block header %}
  
{% endblock %}
{% block main %}
<div class="wrapper">
  <div id="sidebar-wrapper" class="sidebar">
    <ul class="list-unstyled components top">
      <li><a href="{{ url_for('accueilLocataire') }}"><img src="{{ url_for('static', filename = 'css/images/LogoBlanc.png') }}" id="logo"></a></li>
      <li><p id="EspaceLocataire">Espace Proprietaire</p></li>
      <li class="button"><a href="{{ url_for('biens') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/home.png') }}" class="sidebar-images">Biens</a></li>
      <li class="button"><a href="{{ url_for('immeubles') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/office-building.png') }}" class="sidebar-images">Immeubles</a></li>
      <li class="button"><a href="{{ url_for('baux') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/contract.png') }}" class="sidebar-images">Baux</a></li>
      <li class="button"><a href="{{ url_for('paiements') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/credit-card.png') }}" class="sidebar-images">Paiements</a></li>
      <li class="button"><a href="{{ url_for('visionnerRetard') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/countdown.png') }}" class="sidebar-images">Retards</a></li>
      <li class="button"><a href="{{ url_for('parametreProprietaire') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/settings.png') }}" class="sidebar-images">Paramètres</a></li>
      <li class="button"><a href="{{ url_for('deconnexion') }}" class="aside-button"><img src="{{ url_for('static', filename = 'css/images/logout.png') }}" class="sidebar-images">Deconnexion</a></li>
    </ul>
  </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          {%  block content %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>



{% endblock %}