{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="titre">Mes baux </h3>
                </div>
            </div>
        </div>
    </div>
    {% if nbBail != 0 %}
        <div class="container">
            {% for items in bail %}
            <div class="display-line">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('visionnerBail', idBail = items.id) }}" class="bien-address">{{ items.bien.adresse }}</a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('visionnerBail', idBail = items.id) }}" class="bien-address">{{ items.dateCreationBail }}</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="{{ url_for('modifierBail', idBail = items.id) }}" class="modifier">Modifier</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="{{ url_for('modifierBien', idBail = items.id) }}" class="supprimer">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm">
                    <a href="{{ url_for('nouveauBail') }}" class="green-button">Créer un nouveau bail</a>
                </div>
            </div>
        </div> 
    </div>
    {% elif nbBail == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Vous n'avez pas de bail enregistrés, cliquez sur le bouton "Ajouter un nouveau bail" pour en créer un</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="{{ url_for('nouveauBail') }}" class="green-button">Créer un nouveau bail</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}