{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="titre">Mes biens </h3>
                </div>
            </div>
        </div>
    </div>
    {% if nbBien == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Vous n'avez pas de biens enregistrés, cliquez sur le bouton "Ajouter un nouveau bien" pour en créer un</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="{{ url_for('nouveauBien') }}" class="green-button">Ajouter un bien</a>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <div class="container">
            {% for items in biens %}
            <div class="display-line">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('visionnerBien', idBien = items.id) }}" class="bien-address">{{ items.adresse }}</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="{{ url_for('modifierBien', idBien = items.id) }}" class="modifier">Modifier</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="" class="supprimer">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm">
                    <a href="{{ url_for('nouveauBien') }}" class="green-button">Ajouter un bien</a>
                </div>
            </div>
        </div> 
    </div>
{% endif %}
{% endblock %}