{% extends "skeleton.html" %}
    
{% block head %}
<link href="{{ url_for('static', filename='accueil.css') }}" rel="stylesheet">
<title>Homeo</title>
{% endblock %}

{% block header %}
<nav id="navigationBar">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('signIn')}}" class="top-right-button">Se connecter</a>
            </div>
            <div class="col-3">
                <a href="{{ url_for('signUp') }}" class="top-right-button">Créer un compte</a>
            </div>
        </div>
    </div>
</nav>
<img src="{{ url_for('static', filename = 'css/images/LogoBlanc.png') }}" id="logo">
<h3 id="subtitle">Un nouvel outil de gestion de bien entre propriétaires et locataires</h3>
{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}

{% endblock %}