{% extends "accueilProprietaire.html" %}

{% block content %}
<div id="titre">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 class="titre">Mes immeubles </h3>
            </div>
        </div>
    </div>
</div>
    {% if nbImmeuble != 0 %}
    <div class="container">
        {% for items in immeubles %}
        <div class="display-line">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('visionnerImmeuble', idImmeuble = items.id) }}" class="bien-address">{{ items.adresse }}</a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ url_for('modifierImmeuble', idImmeuble = items.id) }}" class="modifier">Modifier</a>
                </div>
                <div class="col-md-auto">
                    <a href="" class="supprimer">Supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
    {% elif nbImmeuble == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Vous n'avez aucun immeuble d'enregistré, cliquez sur "ajouter un immeuble" pour en créer un nouveau</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div id="baux_nouveau">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('nouveauImmeuble') }}" class="green-button">Ajouter un immeuble</a>
        </div>
    </div>
</div>
{% endblock %}