{% extends "accueilProprietaire.html" %}
{% block content %}
<div id="titre">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 class="titre">Mes informations</h3>
            </div>
        </div>
    </div>
</div>
<div class="information">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="informationsProprietaire">Nom : {{ utilisateur.nom }} Prénom : {{ utilisateur.prenom }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="informationsProprietaire">Date de naissance : {{ utilisateur.dateNaissance }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="informationsProprietaire">Adresse email : {{ utilisateur.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="informationsProprietaire">adresse : {{ utilisateur.adresse }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="informationsProprietaire">numéro de téléphone : {{ utilisateur.numeroTelephone }} </p>
            </div>
        </div>
    </div>
</div>
<div class="Modification">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <a href="{{ url_for('modifierProprietaire') }}" class="green-button">Modifier</a>
            </div>
            <div class="col-md-auto">
                <a href="" class="green-button">Modifier le mot de passe</a>
            </div>
            <div class="col-md-auto">
                <a href="" class="green-button">Supprimer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}