{% extends "accueilLocataire.html" %}

{%  block content %}
<h2 id="mesInformations">Mes informations</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="informations">
                <div class="container">
                    <div class="row"> 
                        <div class="col-sm">
                            <h3 id="utilisateur-name">{{ utilisateur.nom.upper() }}</h3>
                        </div>
                        
                    </div>
                    <div class="row"> 
                        <div class="col-sm">
                            <h4 class="utilisateur-parameter">{{ utilisateur.prenom }}</h4>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h4 class="utilisateur-parameter">{{ utilisateur.dateNaissance }}</h4>
                        </div> 
                        
                    </div>
                    <div class="row"> 
                        <div class="col-sm">
                            <h4 class="utilisateur-parameter"> {{ utilisateur.adresse }}</h4>
                        </div>
                        
                    </div>
                    <div class="row"> 
                        <div class="col-sm">
                            <h4 class="utilisateur-parameter">{{ utilisateur.numeroTelephone }}</h4>
                        </div>
                        
                    </div>
                    <div class="row"> 
                        <div class="col-sm">
                            <h4 class="utilisateur-parameter">{{ utilisateur.email }}</h4>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="utilisateur-button-bottom">
            <div class="col-sm">
                <a href="">Modifier Mot de passe</a>
            </div>
            <div class="col-sm">
                <a href="">Modifier</a>
            </div>
            <div class="col-sm">
                <a href="">Supprimer Compte</a>
            </div>
        </div>
    </div>
</div>




{% endblock %}