{% extends "accueilLocataire.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="titre">Mon proprietaire</h3>
        </div>
    </div>
</div>
    {% if proprietaire != None %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="form-label">{{ proprietaire.nom }} {{ proprietaire.prenom }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Adresse : {{ proprietaire.adresse }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Numéro de téléphone : {{ proprietaire.numeroTelephone }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Email : {{ proprietaire.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Envoyez un mail au proprietaire en cliquant <a href="mailto:{{proprietaire.email}}">ici</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Email : {{ proprietaire.dateNaissance }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Vous ne possedez aucun bail pour le moment, contactez votre proprietaire pour l'ajout de celui-ci</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}