{% extends "accueilLocataire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="titre">Paiements non-validés</h3>
                </div>
            </div>
        </div>
    </div>
    {% if nbpaiement == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Aucun paiement non-validé pour le moment</p>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <div class="container">
            {% for items in paiement %}
            <div class="display-line">
                <div class="row">
                    <div class="col">
                        <p class="bien-address">{{ items.prixPaiement }}</p>
                    </div>
                    <div class="col-md-auto">
                        <p class="bien-address">{{ items.datePaiement }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endif %}
{% endblock %}