{% extends "accueilLocataire.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="titre">Mon bail</h3>
        </div>
    </div>
</div>
    {% if bail != None %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Adresse : {{ bail.prixLoyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Prix du loyer : {{ bail.prixLoyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Jour de paiement du loyer : {{ bail.jourPaiementLoyer }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Prix des charges : {{ bail.charges }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Détail des charges : {{ bail.typeCharges }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Durée du préavis : {{ bail.dureePreavis }} mois</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Prix du loyer d'entrée: {{ bail.prixLoyerEntree }} €</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Date d'entrée du logement : {{ bail.DateEntreeLogement }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Nom du garant : {{ bail.nomGarant }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Date de création du bail : {{ bail.dateCreationBail }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">Durée du bail : {{ bail.dureeBail }} ans</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Vous ne possedez aucun bail pour le moment, contactez votre proprietaire pour l'ajout de celui-ci</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}