{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="titre">Mes paiements </h3>
                </div>
            </div>
        </div>
    </div>
    {% if nbPaiement == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Vous n'avez pour l'instant aucun paiement enregistrés, le système s'en charge pour vous</p>
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <div class="container">
            {% for items in paiements %}
            <div class="display-line">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('validationPaiement', idPaiement = items.id) }}" class="bien-address">{{ items.datePaiement }}</a>
                    </div>
                    <div class="col-md-auto">
                        <p class="bien-address-right">{{ items.datePaiement }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
{% endif %}
{% endblock %}