{% extends "skeleton.html" %}
{% block main %}
Retrouver son mot de passe
<form method="POST">
    <div class="container">
        {% for field in form %}
            <div class=" row">
                <div class="col-sm">
                    {{ field.label(class_="form-label") }}
                </div>
            </div>
            <div class=" row">
                <div class="col-sm">
                    {{ field(class_="form-control form-input") }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="HomeButton validateButton">Valider</button>
    </div>
</form>
{% endblock %}