{% extends "skeleton.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='SignInOut.css') }}" rel="stylesheet">
    <title>Homeo - inscription</title>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="{{ url_for('static', filename = 'css/images/LogoBlanc.png') }}" id="logo">
        </div>
    </div>
</div>
<div id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 id="form_title">S'inscrire</h3>
            </div>
        </div>
    </div>
    <form method="POST">
    <div class="container-fluid">
        {% for field in form %}
            <div class=" row">
                <div class="col-sm">
                    {{ field.label(class_="form-label") }}
                </div>
            </div>
            <div class=" row">
                <div class="col-sm">
                    {{ field(class_="form-control form-input") }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="valider">Valider</button>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="row">
                        <div class="col-sm">
                            <h6 class="flashed-error">{{ message }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    </form>
</div>
{% endblock %}