{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="titre">Paiement datant du {{ paiements.datePaiement }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% if paiements.paiementEffectue == None %}
                    <p>Le paiement n'a pas été validé</p>
                        <form method="POST" class="form-2">
                            {% for field in form %}
                                <div class=" row">
                                    <div class="col-sm">
                                        {{ field.label(class_="form-label") }}
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-sm">
                                        {{ field(class_="form-control form-input") }}
                                    </div>
                                </div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="alert alert-error">{{ error }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {{ form.csrf_token }}
                            <button type="submit" class="valider">Valider</button>
                        </form>
                {% else %}
                        <p>Le paiement à été validé</p>
                        {% if quittance == None %}
                            <a href="">Generer quittance</a>
                        {% else %}
                            <a href="">visionner la quittance</a>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}