{% extends "accueilProprietaire.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="titre">Mon immeuble</h3>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Proprietaire : {{ utilisateur.nom }} {{ utilisateur.prenom }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Adresse : {{ immeuble.adresse }} , {{ immeuble.codePostal }} {{ immeuble.ville }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Nombre d'étage : {{ immeuble.nombreEtage }} </p>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="{{ url_for('modifierImmeuble', idImmeuble = immeuble.id) }}">Modifier</a>
        </div>
        <div class="col-1">
            <a href="">Supprimer</a>
        </div>
    </div>
</div>
{% endblock %}