{% extends "accueilProprietaire.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="titre">Mon bail</h3>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> Adresse : {{ bail.adresse }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label"> TEST</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="form-label">TEST</p>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="{{ url_for('modifierBail', idBail = bail.id) }}">Modifier</a>
        </div>
        <div class="col-1">
            <a href="">Supprimer</a>
        </div>
    </div>
</div>
{% endblock %}