{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="{{ url_for('nouveauBien') }}" class="titre">Mes immeubles</a>
                </div>
            </div>
        </div>
    </div>
    {% if nbretards != 0 %}
    <div class="container">
        {% for items in retards %}
        <div class="display-line">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('visionnerImmeuble', idImmeuble = items.id) }}" class="bien-address">{{ items.Bail.locataire.nom }} {{ items.Bail.locataire.prenom }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
    {% else %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Aucun retards pour le moment</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}